.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.main-component {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
